* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --zm-primary: #000000;
    --zm-secondary: #222222;
    --zm-bottom: #4a4a4a;

}

/* REGION HEADER */

#site-header {
    height: 60px;
    background-color: var(--zm-primary);
    color: white;
}

.buttons {
    justify-content: flex-end;
    gap: 0.25rem;
    padding: 0.2rem;
}

.speaker-list,
.up-icon {
    padding: 0.3rem;
    border-radius: 0.25rem;
    background-color: var(--zm-bottom);
}


/* ENDREGION HEADER */


#site-main {
    background-color: var(--zm-primary);
}

.row .item {
    display: inline-block;
    position: relative;
}

.row {
    position: relative;
    justify-content: center;
    gap: 0.25rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.item>img {
    width: 100%;
}

/* REGION UTILITY */
.container {
    flex-basis: 100vh;
}

.d-flex {
    display: flex;

}

.p-2 {
    padding: 2rem;
}




/* ENDREGION UTILITY */

/* REGION MAIN */
.item .microphone {
    position: absolute;
    left: 0px;
    bottom: 4px;
    padding: 0.25rem;
    background-color: rgba(128, 128, 128, 0.438);
    color: white;
}

/* ENDREGION MAIN */

/* REGION FOOTER */
#site-footer {
    height: 70px;
    background-color: var(--zm-bottom);
}

.nav-bar {
    justify-content: space-between;
}

.nav-bar .left-menu {}



/* ENDREGION FOOTER */